<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{newsId}}">
  <ion-content class="padding"  >

    <p>This news Id : {{newsId}}</p>
    <h2>{{newsName}}</h2>
    <h4>{{newsDistance}} : Kms far from you.</h4>
    <p>{{newsDescription}}</p>


  </ion-content>
</ion-view>