<ion-view view-title="Event">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right"
                      ng-repeat="event in event_items" type="item-text-wrap"
                      href="#/tab/event/{{event.id}}">

                <img ng-src="{{event.thumbnail}}">
                <div class="row">

                    <div class="col col-75">
                        <h2 class="list_heading">{{event.name}}</h2>
                        <p>{{event.description | limitTo:150}}</p>

                            <p class="kilo_news"><small>Start:</small>{{event.datetime_start}}</p>
                            <p class="kilo_news"><small>End:</small>{{event.datetime_end}}</p>
                        </div>
                    </div>

                </div>




                <i class="icon ion-chevron-right icon-accessory"></i>
                <!--
                <ion-option-button class="button-assertive" ng-click="remove(event)">
                    Delete
                </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
