<ion-view view-title="News">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right"
                ng-repeat="news in news_items" type="item-text-wrap"
                href="#/tab/news/{{news.id}}">
        <img ng-src="{{news.imageUrl}}">

        <div class="row">

          <div class="col col-75">
            <h2 class="list_heading">{{news.name}}</h2>
            <p>{{news.description | limitTo:150}}</p>
          </div>
          <div class="col"> <p class="kilo_news wam_right ">{{news.distance}}<small>kms</small></p></div>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>


        <!-- We will used it if we have time
        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
